<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <title>{{title}} • {{instanceName}}</title>
        <link rel="stylesheet" href="https://cdn.rawgit.com/doximity/vital/v2.2.1/dist/css/vital.min.css">
    </head>
    <body>
        {{partial 'partials/header' }}
        <main class='contents'>
            {{body}}
        </main>
        {{partial 'partials/footer' }}
    </body>
</html>
